rofi.fullscreen:                     true
rofi.font:                           Overpass Light 16
! State:                             BG        FG      BGalt     HLBG    HLFg
rofi.color-normal:                   #00000000,#dedede,#00000000,#00000000,#3083ae
rofi.color-urgent:                   #00000000,#dedede,#00000000,#00000000,#cc0000
rofi.color-active:                   #00000000,#dedede,#00000000,#00000000,#3083ae
!                                    BG        Border  Sep
rofi.color-window:                   #e5000000,#000000,#dedede
rofi.bw:                             0
rofi.location:                       0
rofi.fixed-num-lines:                true
rofi.terminal:                       termite -e 
rofi.case-sensitive:                 false
! "Set the matching algorithm. (normal, regex, glob, fuzzy)" Set from: Default
rofi.matching:                       fuzzy
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.fake-transparency:              false
rofi.scroll-method:                  1
rofi.kb-accept-entry:                Return
rofi.kb-remove-to-eol:
rofi.kb-row-up:                      Up,Control+k
rofi.kb-row-down:                    Down,Control+j


